/* .fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
} */

/* .nav-bar {
    background-color:blue !important;
} */

@media all and (max-width: 600px)
{
    /* styles here */
    .mobile-position {
        justify-content: center !important;
    }
}

.mr-custom {
    margin-right: 0.5rem !important;
}

.fa {
    color: black !important
}

