.horiz-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card {
  white-space: pre-line;
  display: inline-block;
  width: 18rem;
  height: 25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
