<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg scrolling-navbar">
    <strong class="header nav-right" style="color: white">
      3:33AM MULTIMEDIA COLLECTIVE
    </strong>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars" style="color:white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto flex-direction">
        <li class="nav-item nav-tab">
          <a class="nav-link" href="#artists">ARTISTS</a>
        </li>
        <li class="nav-item nav-tab">
          <a class="nav-link" href="#about-us">ABOUT</a>
        </li>
        <li class="nav-item nav-tab">
          <a class="nav-link" href="#contact-us">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-direction">
        <li class="nav-item nav-tab">
          <a class="nav-link" href="https://www.instagram.com/official333am/?hl=en"  target="_blank"
            ><i class="fa fa-facebook-official" style="color:white"></i
          ></a>
        </li>
        <li class="nav-item nav-tab">
          <a class="nav-link" href="https://www.instagram.com/official333am/?hl=en"  target="_blank"
            ><i class="fa fa-twitter" style="color:white"></i
          ></a>
        </li>
        <li class="nav-item nav-tab">
          <a class="nav-link" href="https://www.instagram.com/official333am/?hl=en"  target="_blank"
            ><i class="fa fa-instagram" style="color:white"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <!--
    <br />
    <artist-carousel id="carousel"></artist-carousel>
  -->
  <br />
  <artists id="artists"></artists> <br />
  <about-us id="about-us"></about-us>
  <br />
  <contact-us id="contact-us"></contact-us>
  <br />
</main>

<router-outlet></router-outlet>
