<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href=""><h1>3:33AM MULTIMEDIA COLLECTIVE</h1></a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" href="#artists">ARTISTS</a></li>
    <li class="nav-item"><a class="nav-link" href="#about-us">ABOUT US</a></li>
    <li class="nav-item">
      <a class="nav-link" href="#contact-us">CONTACT US</a>
    </li>
    <!--
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >MORE</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#one">USELESS 1</a>
          <a class="dropdown-item" href="#two">USELESS 2</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#three">USELESS 3</a>
        </div>
      </li>
    -->
  </ul>
</nav>
<body>
  <!-- <artist-carousel></artist-carousel>

  <iframe
    src="https://open.spotify.com/embed/artist/2nnK1MYUbTKOKXhJbIXpiW"
    width="300"
    height="380"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"
  ></iframe> -->
  <br>
  <artists id="artists"></artists>
  <br>
  <about-us id="about-us"></about-us>
  <br>
  <contact-us id="contact-us"></contact-us>
  <br>
</body>

<router-outlet></router-outlet>
