.epk-bg  {
    background-image: url("./../../assets/images/bandm1.jpg");
    /* background-color: maroon; */
    /* background-size: cover; */
    background-attachment: fixed;
    /* width: 100%; */
    /* height: 100%; */
    /* height: 100vh; */
}

.bio-block {
    background: white;
    padding: 38px;
    height: max-content;
}

.col-3, .col-4, .col-6, .col-md-6 {
    padding: 38px;
    height: max-content;
}

.col-12 {
    padding: 38px;
    height: max-content;
}

.white-text {
    color: white !important;
}

h3, p {
    color: black !important;
}

.margin-overlay {
    margin-top: -30rem;
}

.gallery-margin-overlay {
    margin-top: -124%;
}

.gallery-header {
    padding-bottom: 0;
}

.sticky-md-top {
    top: 5% ;
}

.fa {
    color: black !important
}

.attribute-margin {
    margin-top: 6rem !important;    
}

.gallery-border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.fix{
    position:fixed;
    bottom:0px;
    left:50%;
}

@media all and (max-width: 600px)
{
    /* styles here */
    .mobile-mt {
        margin-top: 80% !important;
    }

    .mobile-header {
        margin-top: 13%;
    }
}

@media all and (min-width: 600px)
{
    .gallery-img:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        transition-duration: 1s;
        z-index: 100;
}
}