<img src="./../../assets/images/bandm1.jpg " class="w-100">
<div class="">
    <div class="container">
        <div class="row mt-3">
            <div class="col-3">
                <h3>BIO</h3>
                <div class="overflow-custom">
                    <p>Starting in 2017, DMV-based Pop/R&B artist blasé takes influence from the likes of blackbear, Calabasas, and others to conjure his signature visceral sound.</p>
                    <p>blasé is the alter ego of Rohith Sebastian, an Indian-American who grew up in the suburbs of Montgomery County, Maryland and later made his mark as a solo artist while attending the University of Maryland. During his junior year, he uploaded a few demos on Soundcloud, serving as a "proof of concept" that later gave him the confidence to release numerous successful singles in 2018. By the time of his graduation, blasé had made invaluable connections with other local artists and had performed multiple times, most notably at Milkboy Arthouse located in College Park, Maryland.</p>
                    <p>In 2020, blasé and mikewave (longtime friend/collaborator) co-released their debut concept album, Vitae. The project was the first to be released under their independent label, 3:33AM Multimedia Collective. The album ultimately served as a portfolio for what the duo was capable of creating, both lyrically and sonically. After the success of Vitae, blasé took a small hiatus to focus on strategically growing the label along with other related projects.</p>
                    <p>Ian Persaud released "Will You Be There" featuring blasé on August 27, 2023.</p>
                </div>
            </div>
            <div class="col-3 offset-1">
                <h3>TECH RIDER</h3>
                <div class="overflow-custom">
                    <p>test</p>
                </div>
            </div>
            <div class="col-3 offset-1">
                <h3>PRESS</h3>
                <div class="overflow-custom">
                    <p>test</p>
                </div>
            </div>
        </div>
    </div>
</div>

