<img src="./../../assets/images/bandm1-opacity.png" class="mobile-header w-100">

<div class="container margin-overlay">

    <div class="row mb-5">
        <div class="col-xs-12 col-md-6 sticky-md-top mobile-mt">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row mb-3">
                <img src="./../../assets/images/b&m vintage transparent.png" class="w-100">
            </div>

            <div class="row">
                <div class="col-12 bio-block">
                    <h3>BIO</h3>

                    <p>Since 2017, DMV-based Pop/R&B artists blasé and mikewave have established their presence in the
                        local music scene. Growing up together in the suburbs of Montgomery County, Maryland, the duo
                        went
                        from covering blink-182 songs in various garage bands to writing and recording original music.
                        In
                        addition to their unique and visceral songwriting, they pride themselves in being self taught in
                        production and engineering, which is reflected in all of their releases.</p>

                    <p>In 2020, blasé and mikewave co-released their debut concept album, Vitae, under their independent
                        label, 3:33AM Multimedia Collective. This album tells a compelling story of relationships and
                        personal development, emphasizing self love.</p>

                    <p>Post album, the duo continued to release and perform music, perfecting their technical abilities
                        and
                        production value. They have performed at venues such as Milkboy Arthouse, The Pinch, I/O Spaces
                        and
                        The Hall CP. Notably, blasé and mikewave are also co-founders and performers of their own music
                        and
                        arts festival, Lemon Zest Fest. In the two years of the event’s existence, they have
                        consistently
                        gathered 250+ people in attendance.</p>

                    <p>Both artists are continually evolving, promising more exciting music and performances. Keep an
                        eye
                        out for their upcoming work under the 3:33AM Multimedia Collective.</p>


                    <h3>SOCIALS & STREAMING</h3>

                    <p class="no-left-padding social-media-icons">
                        <span class="mr-custom">blasé:</span>
                        <a href="https://www.facebook.com/verifiedblase/" target="_blank">
                            <i class="fa fa-facebook footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://www.instagram.com/verifiedblase/" target="_blank">
                            <i class="fa fa-instagram footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://www.twitter.com/blase1996/" target="_blank">
                            <i class="fa fa-twitter footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://open.spotify.com/artist/2nnK1MYUbTKOKXhJbIXpiW?si=V1q6sg-rRFC_D9tgW7INmg" target="_blank">
                            <i class="fa fa-spotify footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://music.apple.com/ug/artist/blas%C3%A9/1371542177" target="_blank">
                            <i class="fa fa-apple footer-content"></i>
                        </a>
                    </p>

                    <p class="no-left-padding social-media-icons">
                        <span class="mr-custom">mikewave:</span>
                        <a href="https://www.facebook.com/therealmikewave/" target="_blank">
                            <i class="fa fa-facebook footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://www.instagram.com/therealmikewave/" target="_blank">
                            <i class="fa fa-instagram footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://www.twitter.com/therealmikewave/" target="_blank">
                            <i class="fa fa-twitter footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://open.spotify.com/artist/4nTZEukpyQXY3OXW5IU4d0?si=Q0HpCis8RXCQ_1CpLmbvng" target="_blank">
                            <i class="fa fa-spotify footer-content"></i>
                        </a>
                        <a class="ml-custom" href="https://music.apple.com/ug/artist/mikewave/1481214173" target="_blank">
                            <i class="fa fa-apple footer-content"></i>
                        </a>
                    </p>

                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-6">

            <div class="row attribute-margin mb-3">
                <div class="col-12">
                    <h3 class="white-text">UPCOMING SHOWS</h3>
                    <img src="./../../assets/images/garage-2-17.png" class="w-100 h-100">
                    <br>
                    <br>
                    <p class="white-text">
                        <a href="https://partiful.com/e/sUmk3zSSIk5noQHcfB70" class="white-text"
                            target="_blank">blasé & mikewave w/ Lisztomania, Melo Relo and Ian Persaud</a>
                        <br>
                        February 17 @ The Garage
                    </p>
                    <br>
                    <img src="./../../assets/images/zen-west-2-23.jpeg" class="w-100 h-100">
                    <br>
                    <br>
                    <p class="white-text">
                        <a href="https://events.eventzilla.net/e/crown-me-king-at-zen-west-2138611607" class="white-text"
                            target="_blank">Crown Me King w/ Lisztomania, Unity for the Outcasts and blasé & mikewave</a>
                        <br>
                        February 23 @ Zen West
                    </p>
                    <br>
                    <img src="./../../assets/images/pearl-street-3-7.png" class="w-100 h-100">
                    <br>
                    <br>
                    <p class="white-text">
                        <a href="https://www.ticketweb.com/event/blas-and-mikewave-lisztomania-pearl-street-warehouse-tickets/13397123?REFID=clientsitewp" class="white-text"
                            target="_blank">blasé & mikewave w/ Lisztomania and Ian Persaud</a>
                        <br>
                        March 7 @ Pearl Street Warehouse
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">LIVE COVERAGE</h3>
                    <iframe class="w-100 mb-5" height="300"
                        src="https://www.youtube.com/embed/uQk1NhKOMHI?si=ctF2U_gAzNtqr4QV" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <iframe class="w-100" height="300"
                        src="https://www.youtube.com/embed/XSDYYc_nlOI?si=FDkOTNDXuFVYZtCE" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">MUSIC</h3>
                    <iframe class="w-100" height="300"
                        src="https://www.youtube.com/embed/videoseries?si=859jl4K36GW7k3y6&amp;list=PLdc4hZi8u01PzSEALo38vTA3T41yAHMRZ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">PRESS</h3>

                    <p class="white-text">
                        <a href="https://dbknews.com/2023/09/24/lemon-zest-festival-local-community/" class="white-text"
                            target="_blank">Lemon Zest Festival brings together local musicians, artists</a>
                        <br>
                        by The Diamondback
                    </p>

                    <p class="white-text">
                        <a href="https://www.bxcrcollective.com/a-la-carte/bleu-de-chanel" class="white-text"
                            target="_blank">"Bleu
                            de Chanel" — mikewave</a>
                        <br>
                        by Boxcar Collective
                    </p>

                    <p class="white-text">
                        <a href="https://www.youtube.com/watch?v=sHOXgBXLCY4" class="white-text" target="_blank">blasé:
                            Music & Collaboration | Episode #7
                        </a>
                        <br>
                        by The Drive Program
                    </p>

                    <p class="white-text">
                        <a href="https://www.buzz-music.com/post/blas%C3%A9-and-mikewave-has-resumed-their-conquest-with-their-latest-single-the-hangover"
                            class="white-text" target="_blank">Blasé and Mikewave Has Resumed Their Conquest With Their
                            Latest
                            Single, "The Hangover"</a>
                        <br>
                        by BUZZ Music
                    </p>

                </div>
            </div>


            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">CONTACT</h3>
                    <p class="white-text">Email us: <a class="white-text"
                            href="mailto:mgmt333am@gmail.com">mgmt333am@gmail.com</a></p>
                    <p class="white-text">Call or text us: (240) 505-4656 or (301) 917-5121</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">TECH RIDER</h3>
                    <p class="white-text">
                        Our set requires that we use our own audio rack paired with our own wireless microphones and IEM system.
                    </p>
                    <p class="white-text">
                        We provide FOH with four 1/4" outputs: two for stereo backing tracks and two mono processed microphones.
                    </p>
                    <img src="./../../assets/images/layout-2023.jpg" class="w-100">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <h3 class="white-text">STAGE PLOT</h3>
                    <img src="./../../assets/images/stage-plot-2023.jpg" class="w-100">
                </div>
            </div>

        </div>
    </div>

</div>

<img src="./../../assets/images/bottom.jpg" class="w-100">

<div class="container gallery-margin-overlay">
    <div class="row">
        <div class="col-12 gallery-header">
            <div class="row">
                <div class="col-12 gallery-header">
                    <h2>GALLERY</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/blase1.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/mike1.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>
                <div class="col-xs-12 col-md-6 mb-2">
                    <img src="./../../assets/images/spencer1.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>

                <!-- <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/blase1.jpg" class="gallery-img gallery-border w-100 h-100">
                </div> 
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/mike5.png" class="gallery-img gallery-border w-100 h-100">
                </div> 
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/blase3.png" class="gallery-img gallery-border w-100 h-100">
                </div> 
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/mike2.jpg" class="gallery-img gallery-border w-100 h-100">
                </div> -->


                <div class="col-xs-12 col-md-6 mb-2">
                    <img src="./../../assets/images/mike3.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/blase2.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>
                <div class="col-xs-12 col-md-3 mb-2">
                    <img src="./../../assets/images/mike2.jpg" class="gallery-img gallery-border w-100 h-100">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <img src="./../../assets/images/white.jpeg" class="w-100"> -->