<img src="./../../assets/images/bandm1-opacity.png" class="w-100">

<div class="container margin-overlay">

    <div class="row mb-5">
        <div class="col-xs-12 col-md-6 sticky-md-top">

            <div class="row">
                <h1 class="no-left-padding name-header">blasé & mikewave</h1>
            </div>

            <div class="row">
                <div class="col-12 bio-block">
                    <h3>BIO</h3>

                        <p>Starting in 2017, DMV-based Pop/R&B artist blasé takes influence from the likes of
                            blackbear,
                            Calabasas, and others to conjure his signature visceral sound.</p>
                        <p>blasé is the alter ego of Rohith Sebastian, an Indian-American who grew up in the suburbs
                            of
                            Montgomery County, Maryland and later made his mark as a solo artist while attending the
                            University of Maryland. During his junior year, he uploaded a few demos on Soundcloud,
                            serving
                            as a "proof of concept" that later gave him the confidence to release numerous
                            successful
                            singles in 2018. By the time of his graduation, blasé had made invaluable connections
                            with other
                            local artists and had performed multiple times, most notably at Milkboy Arthouse located
                            in
                            College Park, Maryland.</p>
                        <p>In 2020, blasé and mikewave (longtime friend/collaborator) co-released their debut
                            concept album,
                            Vitae. The project was the first to be released under their independent label, 3:33AM
                            Multimedia
                            Collective. The album ultimately served as a portfolio for what the duo was capable of
                            creating,
                            both lyrically and sonically. After the success of Vitae, blasé took a small hiatus to
                            focus on
                            strategically growing the label along with other related projects.</p>
                        <p>Ian Persaud released "Will You Be There" featuring blasé on August 27, 2023.</p>

                        <h3>SOCIALS & STREAMING</h3>

                        <p class="no-left-padding social-media-icons">
                            <a href="https://www.facebook.com/lemonzestfest/" target="_blank">
                                <i class="fa fa-facebook footer-content"></i>
                            </a>
                            <a class="ml-custom" href="https://www.instagram.com/lemonzestfest/" target="_blank">
                                <i class="fa fa-instagram footer-content"></i>
                            </a>
                            <a class="ml-custom" href="https://www.twitter.com/lemonzestfest/" target="_blank">
                                <i class="fa fa-twitter footer-content"></i>
                            </a>
                            <a class="ml-custom" href="https://www.twitter.com/lemonzestfest/" target="_blank">
                                <i class="fa fa-spotify footer-content"></i>
                            </a>
                            <a class="ml-custom" href="https://www.twitter.com/lemonzestfest/" target="_blank">
                                <i class="fa fa-apple footer-content"></i>
                            </a>
                        </p>
                        
                </div>
            </div>

        </div>
        <div class="col-5">

            <div class="row attribute-margin mb-5">
                <div class="col-12">
                    <h3 class="white-text">LIVE COVERAGE</h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/XSDYYc_nlOI?si=FDkOTNDXuFVYZtCE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="white-text">MUSIC</h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/videoseries?si=uEWxUe0lxAqcbl9Y&amp;list=PLdc4hZi8u01OSo7LM2qo8xZ9_JPNT0eE9"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="white-text">PRESS</h3>

                    <p class="white-text">
                        <a href="https://dbknews.com/2023/09/24/lemon-zest-festival-local-community/"
                            class="white-text">Lemon Zest Festival brings together local musicians, artists</a>
                        <br>
                        by The Diamondback
                    </p>

                    <p class="white-text">
                        <a href="https://www.bxcrcollective.com/a-la-carte/bleu-de-chanel" class="white-text">"Bleu
                            de Chanel" — mikewave</a>
                        <br>
                        by Boxcar Collective
                    </p>

                    <p class="white-text">
                        <a href="https://www.buzz-music.com/post/blas%C3%A9-and-mikewave-has-resumed-their-conquest-with-their-latest-single-the-hangover"
                            class="white-text">Blasé and Mikewave Has Resumed Their Conquest With Their Latest
                            Single, "The Hangover"</a>
                        <br>
                        by BUZZ Music
                    </p>

                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="white-text">TECH RIDER</h3>
                    <img src="./../../assets/images/tech-rider.png" width="560">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="white-text">STAGE PLOT</h3>
                    <img src="./../../assets/images/stage-plot.png" width="560">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="white-text">CONTACT</h3>
                    <p class="white-text">Email us at <a class="white-text"
                            href="mailto:mgmt333am@gmail.com">mgmt333am@gmail.com</a></p>
                </div>
            </div>

        </div>
    </div>

</div>

<img src="./../../assets/images/bottom.png" class="w-100">

<div class="container gallery-margin-overlay">
    <div class="row">
        <div class="col-12">
            <h2 class="">GALLERY</h2>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3">
            <img src="./../../assets/images/blase2.jpg" class="gallery-border w-100 h-100">
        </div>
        <div class="col-3">
            <img src="./../../assets/images/mike1.jpg" class="gallery-border w-100 h-100">
        </div>
        <div class="col-6">
            <img src="./../../assets/images/spencer1.jpg" class="gallery-border w-100 h-100">
        </div>
        <div class="col-6">
            <img src="./../../assets/images/mike3.jpg" class="gallery-border w-100 h-100">
        </div>
        <div class="col-3">
            <img src="./../../assets/images/blase1.jpg" class="gallery-border w-100 h-100">
        </div>
        <div class="col-3">
            <img src="./../../assets/images/mike2.jpg" class="gallery-border w-100 h-100">
        </div>
    </div>

</div>
<!-- <img src="./../../assets/images/white.jpeg" class="w-100"> -->