<div class="container">
  <h3>
    CONTACT
    <i
      *ngIf="showIcons.auth === 'admin'"
      style="cursor: pointer; font-size: 20px;"
      class="fa fa-edit"
      (click)="editField();"
    ></i>
  </h3>

  <div *ngIf="!isEditable">
    {{ contactUsData }}
  </div>
  <textarea 
    *ngIf="isEditable" 
    rows="5" 
    style="width: 100%"
    [value]="updatedField"
    (input)="updatedField = $event.target.value">
  </textarea>
  <button *ngIf="isEditable" type="button" class="btn pull-right" (click)="updateEdit()">UPDATE</button>
  <button *ngIf="isEditable" type="button" class="btn pull-right" (click)="closeEdit()">CLOSE</button>
</div>
