<div *ngIf="firebaseArtists && firebaseArtists.length !== 0">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let artist of firebaseArtists">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ artist.id }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ artist.data().type }}</h6>
              <p class="card-text">
                  {{ artist.data().description }}
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
