<div class="container">
  <div class="row">
    <div class="col-3 col-md-6"><h3>ARTISTS</h3></div>
    <div class="offset-2 offset-md-2"></div>
    <div class="col-7 col-md-4">
      <div class="row">
        <div class="col-10 col-md-11">
          <input
            *ngIf="showBar"
            id="searchBar"
            type="text"
            class="form-control"
            placeholder="Search Artists"
            (keyup)="updateSearch()"
          />
        </div>
        <div class="col-2 col-md-1" style="padding: 0;">
          <a
            id="searchButton"
            class="btn"
            style="padding-left: 0; cursor: pointer;"
            (click)="showSearchBar(); toggleIcon()"
          >
            <i
              *ngIf="!flipButton"
              class="fa fa-search"
              style="font-size: 20px; color: #343a40"
            >
            </i>
            <i
              *ngIf="flipButton"
              class="fa fa-times"
              style="font-size: 20px; color: #343a40"
            >
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="searchResults">
  <div class="container">
    <div class="horiz-scroll">
      <div class="card" style="height: auto;" *ngFor="let artist of searchResults; index as i">
        <img
          class="card-img-top"
          src="../../../assets/img/{{ artist.profile_picture }}"
          style="width: 286px; height: 180px;"
          alt="{{ artist.name }}"
        />
        <div class="card-body">
          <h5 *ngIf="artist.name" class="card-title">
            {{ artist.name }}
            <i
              *ngIf="showIcons.username === artist.username || showIcons.auth === 'admin'"
              style="cursor: pointer"
              class="fa fa-edit"
              data-toggle="modal"
              data-target="#editArtistModal"
              (click)="editArtist(i, artist)"
            >
            </i>
          </h5>
          <h6 *ngIf="artist.type" class="card-subtitle mb-2 text-muted">
            {{ artist.type }}
          </h6>
          <p *ngIf="artist.description" class="card-text">
            {{ artist.description | slice:0:115 }}... <a href="#">Read More</a>
          </p>
          <i
            *ngIf="artist.spotify"
            class="fa fa-spotify"
            data-toggle="modal"
            data-target="#spotifyModal"
            (click)="openSpotifyModal(artist.spotify)"
          >
            &nbsp;
          </i>
          <a *ngIf="artist.apple" href="{{ artist.apple }}" target="_blank">
            <i class="fa fa-apple"> &nbsp; </i>
          </a>
          <a
            *ngIf="artist.facebook"
            href="{{ artist.facebook }}"
            target="_blank"
          >
            <i class="fa fa-facebook-official"> &nbsp; </i>
          </a>
          <a *ngIf="artist.twitter" href="{{ artist.twitter }}" target="_blank">
            <i class="fa fa-twitter"> &nbsp; </i>
          </a>
          <a
            *ngIf="artist.instagram"
            href="{{ artist.instagram }}"
            target="_blank"
          >
            <i class="fa fa-instagram"> &nbsp; </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!searchResults">
  <div class="container">
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Loading...
  </div>
</div>

<div *ngIf="searchResults && searchResults.length === 0">
  <div class="container">
    There are no artists that matched your search...
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  style="margin-top: 5%;"
  id="spotifyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="spotifyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe
          [src]="url"
          width="100%"
          height="380"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  style="margin-top: 5%;"
  id="editArtistModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editArtistModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT ARTIST</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">NAME</label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder="ENTER NAME"
              [value]="editObject.name"
              (input)="editObject.name = $event.target.value"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">TYPE</label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder="ENTER TYPE"
              [value]="editObject.type"
              (input)="editObject.type = $event.target.value"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">DESCRIPTION</label>
          <div class="col-sm-12">
            <textarea
              rows="5"
              style="width: 100%"
              [value]="editObject.description"
              (input)="editObject.description = $event.target.value">
            </textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">
          CLOSE
        </button>
        <button type="button" class="btn" data-dismiss="modal" (click)="updateArtist()">UPDATE</button>
      </div>
    </div>
  </div>
</div>
